body{
    background-color: rgb(34, 34, 34);
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5%;
    

}

header nav ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 5%;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    
}



main{
    margin: 50px;
    padding-top: 5%;
}


main h2{
    font-style: italic;
    font-weight: 700;
    font-size: 25px;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
    font-size: 15px;
    font-weight: 600;
}

form input{
    background-color: #fff;
    width: 100px;
    height: 20px;
    border: none;
    box-shadow: 4px 5px 4px #060505;
    border-radius: 15px;
    font-weight: 600;
    margin-right: auto;
    
    
}

form button{
   width: 100px;
   height: 20px;
   border: none;
   box-shadow: 4px 5px 4px #060505;
   border-radius: 15px;
   font-weight: 600;
    margin-right: auto;
   cursor: pointer;
   

}

form button:hover{
    background-color: rgb(117, 0, 128);
    color: #fff;
}

